<div><h1>HOME</h1>
	<br>
	<p>
		This is the home page for the Pollapick. POLLaPICK? Poll-a-Pick? It will be dynamic. Features are still being configured.
	</p>
	<br>
	<%= link_to "Sign up for an account", signup_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Home", root_path, class: "btn btn-warning btn-lg" %>
	<%= link_to "Help", help_path, class: "btn btn-info btn-lg"%>
	<%= link_to "Contact", contact_path, class: "btn btn-danger btn-lg"%>
	<%= link_to "Sign in", '#', class: "btn btn-success btn-lg" %>
</div>

