<h1>Sign Up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form">
      <%= devise_error_messages! %>

      <div class="field">
        <h4>Email:</h4>
        <%= f.email_field :email, :class => 'form-field-login', autofocus: true %>
      </div>

      <div class="field">
        <h4>Password (8 characters minimum):</h4>
        <%= f.password_field :password, :class => 'form-field-login', autocomplete: "off" %>
      </div>

      <div class="field">
        <h4>Password Confirmation:</h4>
        <%= f.password_field :password_confirmation, :class => 'form-field-login', autocomplete: "off" %>
      </div>
      <br>
      <br>
    </div>
    <br>
    <br>
    <%= f.submit "Sign Up", :class => "btn" %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
