<div class="poll" id="poll-<%= poll.id %>">
  <h2><%= poll.question %></h2>
  <div class="poll-options">
    <%= render "shared/options", poll: poll %>
  </div>
</div>

<div class="updownvote">
  <%= link_to "^", upvote_poll_path(id: poll.id), method: :put, :class => "btn-updownvote" %>
  <br>
  <%= poll.updownvote %>
  <br>
  <%= link_to 'v', downvote_poll_path(id: poll.id), method: :put, :class => "btn-updownvote" %>
</div>


