<div class="poll">
  <h2><%= poll.question %></h2>
    <% poll.options.each do |option| %>
      <div class="option">
        <%= link_to 'pick', pick_option_path(id: option.id), remote: true, method: :put, :class => "btn-pick" %>
        <div class="option-result">
          <%= option.option_text %>
          <br>
          <div class="progress">
            <div class="progress-bar" style="width: <%= option.percentage %>%;"><%= option.percentage %>%</div>
          </div>
        </div>
      </div>
    <% end %>
  <h3>Total Poll Picks: <%= poll.total_poll_picks %></h3>
</div>

<div class="updownvote">
  <%= link_to "^", upvote_poll_path(id: poll.id), method: :put, :class => "btn-updownvote" %>
  <br>
  <%= poll.updownvote %>
  <br>
  <%= link_to 'v', downvote_poll_path(id: poll.id), method: :put, :class => "btn-updownvote" %>
</div>


