<br>
<h1>Sign In</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
    <div class="field">
      <h4><%= f.label :email %></h4>
      <%= f.email_field :email, :class => 'form-field-login', autofocus: true %>
    </div>

    <div class="field">
      <h4><%= f.label :password %></h4>
      <%= f.password_field :password, :class => 'form-field-login', autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

  </div>
  <br>
  <br>
  <%= f.submit "Sign In", :class => 'btn' %><br>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), style: "color: #091333; font-size: 20px" %><br>
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), style: "color: #091333; font-size: 20px" %>
<% end %>
<br>
<%= render "devise/shared/links" %>
