<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar">
<!--       <% if current_user %>
        <%= current_user.name %>
      <% end %> -->
      <%= link_to "pollapick", root_path, class: "navbar-brand" %>
      <%= link_to 'Newest', polls_path, :sort => "newest", :class => "btn-navbar" %>
      <%= link_to 'Popular', root_path, :class => "btn-navbar" %>
      <%= current_user ? (link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-navbar") : (link_to 'Sign In', new_user_session_path, class: "btn-navbar") %>

    </div>
    <br>
    <br>
    <br>  
    <%= yield %>

  </body>
</html>