<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- Facebook -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1383455155310501',
        xfbml      : true,
        version    : 'v2.2'
      });
      $(document).trigger('fbload');
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <!-- Pinterest -->
    <script type="text/javascript">
    (function(d){
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
  </script>


    <div class="navbar">
<!--       <% if current_user %>
        <%= current_user.name %>
      <% end %> -->
      <%= link_to "pollapick", root_path, class: "navbar-brand" %>
      <%= link_to 'New Poll', new_poll_path, :class => "btn-navbar" %>
<!--       <%= link_to 'Newest', polls_path, :sort => "newest", :class => "btn-navbar" %>
      <%= link_to 'Popular', root_path, :class => "btn-navbar" %> -->
      <%= current_user ? (link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-navbar") : (link_to 'Sign In', new_user_session_path, class: "btn-navbar") %>

    </div>
    <br>
    <br>
    <br>  
    <%= yield %>

  </body>
</html>